# .NET build files
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.userprefs

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Environment files
.env
.env.*

# Local secrets
secrets.json
Shopping App/